<!DOCTYPE html>
<head>
  <title>Food Suggestion</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='nasi-goreng.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='nasi-goreng-mj-250.png') }}" class="icon" />
  <h3>Malaysian Food Suggestion</h3>
  <form action="/" method="post">
    <input type="text" name="food" placeholder="What do you like.." required />
    <input type="submit" value="Suggest Me" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
